<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAuthenticationService" />
                <binding name="WSHttpBinding_IBookingService" />
                <binding name="WSHttpBinding_IFlightService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/AirlineReservation/AuthenticationService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthenticationService"
                contract="AuthenticationService.IAuthenticationService" name="WSHttpBinding_IAuthenticationService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8000/AirlineReservation/BookingService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBookingService"
                contract="BookingService.IBookingService" name="WSHttpBinding_IBookingService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8000/AirlineReservation/FlightService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFlightService"
                contract="FlightService.IFlightService" name="WSHttpBinding_IFlightService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>